<div class="container">

<h1 class="mb-4">Sign up</h1>

  <form class="col-md-6" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" ngModel >
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" ngModel>
    </div>

    <button type="submit" class="btn btn-primary" value="Send">Register</button>
  </form>

  <p class="mt-5">already have an account? <a href="/login">Login here</a></p>

</div>
