<nav class="navbar navbar-expand-lg bg-black mb-4">
  <div class="container-fluid ">
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="d-flex justify-content-between w-100" id="navbarNavAltMarkup">
      <div class="d-flex align-items-center">
        <a class="navbar-brand fw-bold text-white " routerLink="/home">KiuR</a>
      </div>


      <div class="">
        @if (Globals.isLoggedIn()){

          <div class="navbar-nav">
            <button (click)="loginService.logout()" class="nav-link text-white">Log out</button>
          </div>

        } @else{
          <div class="navbar-nav">
            <button routerLink="/login" class="nav-link text-white">Log in</button>
          </div>
        }
      </div>

    </div>
  </div>
</nav>

<router-outlet />
