<div class="container">

  <h1 class="text-center mb-5">hello {{ Globals.username}}</h1>

  <div class="d-grid ">
    <button routerLink="/cart" class="btn btn-dark py-3 mb-4">
      @if(storedCartItemIds == null){
        START FILLING CART
      } @else {
        YOUR CART
      }
      </button>

    <button routerLink="/orders" class="btn btn-outline-dark py-3 mb-2"> My orders</button>
<!--    <button routerLink="#" class="btn btn-outline-secondary py-3"> My profile ?</button>-->

  </div>


</div>
